.cart{
    text-align: center;
}
.cart .header{
    font-weight: 800;
}

.cart .product-list {
    width: 85%;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #BEE1F0;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
}

.cart .product-list li {
    list-style-type: none;
    background-color: #FFFFFF;
    padding: 2px;
    border-radius: 5px;
    border-left: 5px solid #40ABDF;
    margin: 5px;
}