.cart{
    text-align: center;
}
.cart .header{
    font-weight: 800;
}

.container {
    width: 85%;
    margin: 15px auto 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #BEE1F0;
    border-radius: 5px;
    padding: 10px;
}

.container .products {
    flex-grow: 2;
    margin-left: 0;
}

.container .total {
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
}